{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/signin.css')}}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container">

      <form class="form-signin" action="{{ url_for('main.login') }}" method="POST">
        <h2 class="form-signin-heading">Please Login</h2>
        {{ form.hidden_tag() }}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

    </div>
{% endblock %}
